<section class="stretching  pt-5 pb-5">
    <div class="TITLE mt-5">
        <div class="title">
            <h1>Back</h1>
            <div class="circle1"></div> <div class="circle2"></div>
            <div class="circle3"></div> <div class="circle4"></div>
            <div class="circle5"></div> <div class="circle6"></div><div class="circle7"></div>
        </div>
    </div>
    <div class="stretch-content">
        <div class="row g-2">
            <div class="col-5">
                <video autoplay loop muted src="../../assets/images/zumba gif.mp4"></video>
            </div>
            <div class="col-7">
                <h3>What is Back Exercises?</h3>
                <p>Zumba is a high-energy dance fitness program that combines Latin rhythms with easy-to-follow moves.
                    It's more than just a workout; it's a party! Created by Colombian dancer and choreographer Beto Perez, Zumba has taken the world by storm, becoming one of the most popular fitness trends</p>
            </div>
        </div>
    </div>
    <div class="stretching-online">
        <h2>NO-EQUIPMENT <i class="fa-solid fa-dumbbell"></i></h2>
        <h2>Daily Home Back Workout</h2>
        <div class="line"></div>
    </div>
    <div class="stretching-videos">
        <div class="videoos">
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/zumba/zumba4.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/F4BJst5d9Ac?si=TW4hyUil3PC78fvp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>10 Mins Easy Weight Loss Zumba Dance Workout 
                    <br>Best Home Workout To Lose Weight</p>
                </div>
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/zumba/zumba1.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mZeFvX3ALKY?si=FNEk9Sdka-3oaSlU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Zumba 10-Minute Beginners Latin 
                    <br>Dance Mini-Workout</p>
                </div>
        </div>
        <div class="videoos">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/zumba/zumba5.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PtmsytNzdvc?si=MnSmFomJ4SDTER91" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Simple Zumba Dance Workout For Beginners At Home -
                <br> 10 Mins Easy Cardio Exercises For Weight loss </p>
            </div>
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/zumba/zumba6.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mKDYAeKphLg?si=sBU3T3yZy9uouJF2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>15 Min Zumba Cardio Workout Beginners Latin 
                <br>Dance ZUMBA CLASS |Exercise To Lose Weight FAST</p>
            </div>
        </div>
        <div class="videoos pb-5">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/zumba/zumba3.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZCEse63kISk?si=YAuqSvod25zF1IZW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>15 Minute At-home Non-stop
                <br>  Bollywood High Intensity Dance Workout</p>
            </div>
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/zumba/zumba2.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9_MxwQw10RI?si=sJFCXKjMTLUuz4lI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>10-minute workouts – 
                <br> Zumba Beginner’s Level</p>
            </div>
        </div>
        
    </div>
</section>

