<section class="stretching  pt-5 pb-5">
    <div class="TITLE mt-5">
        <div class="title">
            <h1>Back</h1>
            <div class="circle1"></div> <div class="circle2"></div>
            <div class="circle3"></div> <div class="circle4"></div>
            <div class="circle5"></div> <div class="circle6"></div><div class="circle7"></div>
        </div>
    </div>
    <div class="stretch-content">
        <div class="row g-2">
            <div class="col-5">
                <video autoplay loop muted src="../../assets/images/zumba gif.mp4"></video>
            </div>
            <div class="col-7">
                <h3>What is Back Exercises?</h3>
                <p>Zumba is a high-energy dance fitness program that combines Latin rhythms with easy-to-follow moves.
                    It's more than just a workout; it's a party! Created by Colombian dancer and choreographer Beto Perez, Zumba has taken the world by storm, becoming one of the most popular fitness trends</p>
            </div>
        </div>
    </div>
    
    <div class="stretching-online">
        <h2>NO-EQUIPMENT <i class="fa-solid fa-dumbbell"></i></h2>
        <h2>Daily Home back Workout</h2>
        <div class="line"></div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div *ngFor="let workout of  backWorkouts" class="col">
            <div class="card h-100">
              <iframe
              *ngIf="workout.videoUrl"
              class="card-img-top"
              [src]="getSafeVideoUrl(workout.videoUrl)"
              title="{{ workout.name }} video player"
              frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                style="height: 200px;" ></iframe>
              <div class="card-body">
                <h5 class="card-title">{{ workout.name }}</h5>
                <p class="card-text">{{ workout.description }}</p>
                <!-- <p class="card-text"><small class="text-muted">ID: {{ workout.id }}</small></p> -->
                <p class="card-text"><small class="text-muted">Category: {{ workout.category }}</small></p>
                <a [routerLink]="['/zumba', workout.id]" class="btn btn-primary">Let's Trainee</a>
                <a [routerLink]="['/workout-details', workout.id]" class="btn btn-secondary ms-2"><i class="fas fa-link"></i> Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

