<section class="stretching  pt-5 pb-5">
    <div class="TITLE mt-5">
        <div class="title">
            <h1>Legs Exercises</h1>
            <div class="circle1"></div> <div class="circle2"></div>
            <div class="circle3"></div> <div class="circle4"></div>
            <div class="circle5"></div> <div class="circle6"></div><div class="circle7"></div>
        </div>
    </div>
    <div class="stretch-content">
        <div class="row g-2">
            <div class="col-5">
                <video autoplay loop muted src="../../assets/images/aerobics gif.mp4"></video>
            </div>
            <div class="col-7">
                <h3>What is Legs Exercises?</h3>
                <p>Aerobics is a dynamic form of exercise that combines rhythmic movements with music to elevate your heart rate and improve overall fitness. It's a fantastic way to burn calories, strengthen your cardiovascular system, and boost your energy levels.</p>
            </div>
        </div>
    </div>
    <div class="stretching-online">
        <h2>NO-EQUIPMENT <i class="fa-solid fa-dumbbell"></i></h2>
        <h2>Daily Home Legs Workout</h2>
        <div class="line"></div>
    </div>
    <div class="stretching-videos">
        <div class="videoos">
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/arx/arx1.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/v8CDptlpeys?si=Ua2-RT2F6Of5bZdT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>15 min CARDIO AEROBICS WORKOUT | All Standing | Low Impact |
                    <br> No Squats | Move to the Beat ♫</p>
                </div>
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/arx/arx2.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/oFON1wxbdjw?si=YBBjOC5d1GeTKb_a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>30 min CARDIO AEROBICS WORKOUT ♫ |
                    <br> No Jumping | No Squats </p>
                </div>
        </div>
        <div class="videoos">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/arx/arx3.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/flfjRWzjfC4?si=66gJ9hJahmPytCYm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Lose Weight - Lose Belly Fat 
                <br>| Aerobic Exercises at Home to Stay Healthy  </p>
            </div>
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/arx/arx4 (1).mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AsWRGMnpjs4?si=8QAm52kZp6uBjibW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Legs_ Bums _ Tums 
                <br>15 MINUTE WORKOUT </p>
            </div>
        </div>
        <div class="videoos pb-5">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/arx/arx4 (2).mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nG69wuXHwxg?si=qnf8P8KdI7pP2q3Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>10 MIN BEGINNER LEG WORKOUT .. with breaks! Booty, 
                <br>Thighs & Hamstrings / No Equipment I Pamela Reif</p>
            </div>
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/arx/arx5.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6hOAGDbkLOw?si=ZfwSIGKPVZeHwbDB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Bum workout - 
                <br>10 minutes</p>
            </div>
        </div>
        
    </div>
</section>
