<section class="about ">
  <div class="about-content">
    <div class="imgs" >
        <img src="../assets/images/aboutus1.jpg">
    </div>
    <div class="about1">
        <div class="layer2">
        <h5>About Us</h5>
        <h1>Welcome to 
        <span class="Ladies">EMS workout</span></h1>
        <p>We believe in making fitness accessible to everyone. Our EMS technology helps you save time and effort by maximizing results with fewer workouts. With our home-based training options, you can exercise on your schedule. Our platform provides clear video demonstrations to guide your exercises and offers healthy meal recipes to support your fitness journey. We also curate a selection of fitness products to enhance your training experience.</p>
        
        <button type="submit" routerLink="/workouts">More Details <i class="fa fa-arrow-right ms-2"></i></button>
      </div>
    </div>
  </div>
  </section>

