*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

@font-face{
    font-family: myfont; 
    src:url(../../../public/assets/fonts/KalniaGlaze/static/KalniaGlaze_Expanded-Bold.ttf); 
}
@font-face{
    font-family:face; 
    src:url(../../../public/assets/fonts/Rubik-bubbles/RubikBubbles-Regular.ttf); 
}
@font-face{
    font-family: myfont2; 
    src:url(../../../public/assets/fonts/Foldit/static/Foldit-ExtraBold.ttf);
}
@font-face{
    font-family: myfont3; 
    src:url(../../../public/assets/fonts/Jost/static/Jost-ExtraBold.ttf);
}
@font-face {
    font-family: jost;
    src: url(../../../public/assets/fonts/Jost/static/Jost-Bold.ttf);
}
@font-face{
    font-family: myfont5;
    src:url(../../../public/assets/fonts/Merienda/Merienda-VariableFont_wght.ttf);
}
@font-face {
    font-family: secondfont;
    src: url(../../../public/assets/fonts/Merienda/static/Merienda-ExtraBold.ttf);
}
.about{
    margin: 30px 70px 100px 70px;
}
.about-content {
    display: flex;
    margin: auto;
    width: 95%;
    margin-top: 10px;
    position: relative;
    justify-content: space-between;
}




.imgs{
    width: 43%;
    border: 55px solid;
    border-color: transparent #2a86ff transparent  #2a86ff;
    margin-left:10px;
    height: 595px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.imgs img{
    width: 100%;
    height: 485px;  
}



/* .image-3d-container {
    width: 100%;
    height: 485px;
    perspective: 1000px;
    animation: rotate3d 10s linear infinite;
    transform-style: preserve-3d;
}

.image-3d-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
}

@keyframes rotate3d {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }
    50% {
        transform: rotateY(180deg) rotateX(10deg);
    }
    100% {
        transform: rotateY(360deg) rotateX(0deg);
    }
} */






.about1 {
    width: 69%;
    padding: 10px 24px ;
    margin: 50px 0px 0px;
    margin-left: 30px !important;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)),url(../../../public/assets/images/3D\ dumbbells\ without\ background.png);
    height:485px;
}

.about1 h5 {
    font-size: 50px;
    margin: 0px 0px 8px;
    padding: 16px 0px 0px;
    color:rgba(0,0,0,0.3);
    text-transform: capitalize;
    position: relative;
    font-family: face;
}

.about h5::before {
    content: "";
    width: 50px;
    position: absolute;
    top: 65%;
    left: 250px;
    transform: translateY(-50%);
    margin-right: 50px;
    background: linear-gradient(90deg, #0667e4, #00b6ee) !important;
    border: 1px solid #0858c0 !important;
}

.about1 h1 {
    font-size: 32.05px;
    margin: 0px 0px 24px;
    /* color: black; */
    /* font-family: myfont; */
    font-family: secondfont;
    color: #2a86ff;
}

.about1 .ladies {
    top:300px;
    font-size: 32.05px;
    margin: 0px 0px 24px;
    color: #2a86ff;
    font-family: myfont;
}

.about .about1 p {
    font-size: 16px;
    margin: 0px 0px 24px;
    color: #444040;
    font-family: myfont3;
    margin-right: 50px !important;
}
.left i,
.right i {
    color:#ff30a5;
    line-height: 1.7;
}
.ul-con{
    display: flex;
    line-height: 1.7;
}
.left,
.right {
    color: #444040;
    font-family: myfont3;
    font-size: 20px;
    line-height: 1.7; 
}
ul{
    list-style: none !important;
}
.right{
    margin-left: 100px;
}
.about button {
    border-radius: 50rem;
    backdrop-filter: blur(100px) !important;
    background: linear-gradient(90deg, #0667e4, #00b6ee);
    background-color: transparent !important;
    color: white!important;
    font-family: jost;
    padding: 16px 48px;
    font-size: 20px;
    transition: 0.5s;
    margin-top: 20px;
}
.about button:hover{
    background-color: white !important ;
    color: #13357b !important;
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .about-content {
        flex-direction: column;
        width: 100%;
    }
    .imgs{
        width: 100% !important;
        margin-left:0px;
    }
    .imgs img{
        width: 100%;
        height: 485px;  
    }
    .about1 {
        width: 100%;
        margin-left: 0px !important;
        height:550px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1170px){
    .about-content {
        flex-direction: column;
    }
    .imgs{
        width: 95% !important;
        margin-left:0px;
    }
    .imgs img{
        width: 100%;
        height: 485px;  
    }
    .about1 {
        width: 95%;
        margin-left: 0px !important;
        height:550px;
    }
}



/* ... (your existing styles) ... */

/* Responsive Styles */

/* For very small screens (phones) */
@media (max-width: 576px) {
    .about {
      margin: 10px;
    }
  
    .about-content {
      flex-direction: column;
      width: 100%;
    }
  
    .imgs {
      width: 100%;
      border: 10px solid;
      border-color: transparent #2a86ff transparent #2a86ff;
      margin-left: 0;
      height: auto;
    }
  
    .imgs img {
      width: 100%;
      height: auto;
    }
  
    .about1 {
      width: 100%;
      margin: 10px 0 0;
      margin-left: 0 !important;
      height: auto;
      padding: 10px;
    }
  
    .about1 h5 {
      font-size: 24px;
    }
  
    .about1 h1 {
      font-size: 22px;
    }
  
    .about1 p {
      font-size: 14px;
      margin-right: 0 !important;
    }
  
    .right {
      margin-left: 0;
    }
  
    .about button {
      padding: 10px 20px;
      font-size: 16px;
      margin-top: 5px;
    }
  }
  
  /* For small screens (tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
    .about {
      margin: 20px;
    }
  
    .about-content {
      flex-direction: column;
      width: 100%;
    }
  
    .imgs {
      width: 100%;
      border: 20px solid;
      border-color: transparent #2a86ff transparent #2a86ff;
      margin-left: 0;
      height: auto;
    }
  
    .imgs img {
      width: 100%;
      height: auto;
    }
  
    .about1 {
      width: 100%;
      margin: 20px 0 0;
      margin-left: 0 !important;
      height: auto;
    }
  
    .about1 h5 {
      font-size: 30px;
    }
  
    .about1 h1 {
      font-size: 28px;
    }
  
    .about1 p {
      font-size: 16px;
      margin-right: 0 !important;
    }
  
    .right {
      margin-left: 0;
    }
  
    .about button {
      padding: 12px 30px;
      font-size: 18px;
      margin-top: 10px;
    }
  }
  
  /* For medium screens (desktops) */
  @media (min-width: 769px) and (max-width: 992px) {
    .about {
      margin: 20px 30px 50px 30px;
    }
  
    .about-content {
      flex-direction: column;
    }
  
    .imgs {
      width: 95% !important;
      margin-left: 0;
      height: auto;
    }
  
    .imgs img {
      width: 100%;
      height: auto;
    }
  
    .about1 {
      width: 95% !important;
      margin: 20px 0 0;
      margin-left: 0 !important;
      height: auto;
    }
  
    .about1 h5 {
      font-size: 40px;
    }
  
    .about1 h1 {
      font-size: 30px;
    }
  
    .about1 p {
      font-size: 16px;
      margin-right: 0 !important;
    }
  
    .right {
      margin-left: 0;
    }
  
    .about button {
      padding: 14px 35px;
      font-size: 19px;
      margin-top: 15px;
    }
  }
  
  /* For large screens (large desktops) */
  @media (min-width: 993px) and (max-width: 1200px) {
    .about {
      margin: 30px 50px 80px 50px;
    }
  
    .about-content {
      flex-direction: row;
    }
  
    .imgs {
      width: 43%;
      border: 55px solid;
      border-color: transparent #2a86ff transparent #2a86ff;
      margin-left: 10px;
      height: 595px;
    }
  
    .imgs img {
      width: 100%;
      height: 485px;
    }
  
    .about1 {
      width: 69%;
      margin: 50px 0 0 30px !important;
      height: 485px;
    }
  
    .about1 h5 {
      font-size: 45px;
    }
  
    .about1 h1 {
      font-size: 32px;
    }
  
    .about1 p {
      font-size: 16px;
      margin-right: 50px !important;
    }
  
    .right {
      margin-left: 100px;
    }
  
    .about button {
      padding: 16px 40px;
      font-size: 20px;
      margin-top: 18px;
    }
  }
  
  /* For extra large screens (very large desktops) */
  @media (min-width: 1201px) {
    .about {
      margin: 30px 70px 100px 70px;
    }
  
    .about-content {
      flex-direction: row;
    }
  
    .imgs {
      width: 43%;
      border: 55px solid;
      border-color: transparent #2a86ff transparent #2a86ff;
      margin-left: 10px;
      height: 595px;
    }
  
    .imgs img {
      width: 100%;
      height: 485px;
    }
  
    .about1 {
      width: 69%;
      margin: 50px 0 0 30px !important;
      height: 485px;
    }
  
    .about1 h5 {
      font-size: 50px;
    }
  
    .about1 h1 {
      font-size: 32.05px;
    }
  
    .about1 p {
      font-size: 16px;
      margin-right: 50px !important;
    }
  
    .right {
      margin-left: 100px;
    }
  
    .about button {
      padding: 16px 48px;
      font-size: 20px;
      margin-top: 20px;
    }
  }