 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent fixed-top">
    <div class="container-fluid nav-comp">
      <a class="navbar-brand navimg" href="#"><img src="../../assets/images/WhatsApp Image 2025-01-21 at 20.47.42_f2574f35.jpg">&nbsp;  EMS Vibes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav-info collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="overview" routerLinkActive="smsm" *ngIf="logined">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="products" routerLinkActive="smsm" *ngIf="logined">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="about" routerLinkActive="smsm" *ngIf="logined">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" routerLink="workouts" routerLinkActive="smsm" *ngIf="logined">Workout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" routerLink="recipes" routerLinkActive="smsm" *ngIf="logined">Food Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" routerLink="contact" routerLinkActive="smsm" *ngIf="logined">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="register"  routerLinkActive="smsm" *ngIf="!logined">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="login"  routerLinkActive="smsm" *ngIf="!logined">Login</a>
          </li>
         
        </ul>
      </div>
      <h3 class="navbar-nav me-auto mb-2 mb-lg-0" (click)="logOut()">
          <a class="nav-link speciality" >Logout</a> 
      </h3>
    </div>
 </nav>
  
   -->

   <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid nav-comp">
      <a class="navbar-brand navimg" href="#">
        <img src="../assets/images/Adobe Express - file (1).png" alt="Logo">
        EMS Vibes
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav-info collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="profile" routerLinkActive="smsm" *ngIf="logined"><i class="fa-solid fa-user"></i> Profile </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products" routerLinkActive="smsm" *ngIf="logined">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="smsm" *ngIf="logined">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="workouts" routerLinkActive="smsm" *ngIf="logined">Workout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="recipes" routerLinkActive="smsm" *ngIf="logined">Food Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="smsm" *ngIf="logined">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive="smsm" *ngIf="!logined">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="smsm" *ngIf="!logined">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart" routerLinkActive="smsm" title="Cart" *ngIf="logined">Cart <i class="fa-solid fa-cart-shopping"></i></a>
            <div class="cartIconContainer">
              <span>{{ cartCount }}</span>
            </div>
          </li>
          <li>
            <a class="nav-link"routerLink="/admin-dashboard"routerLinkActive="smsm"*ngIf="logined" title="Admin"><i class="fa-regular fa-user"></i></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/report" routerLinkActive="smsm"title="USER" *ngIf="logined">Report Incident</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dispatch" routerLinkActive="smsm"title="ADMIN" *ngIf="logined">DISPATCH</a>
          </li> -->
        </ul>


        <h3 class="navbar-nav me-auto mb-2 mb-lg-0 logout-link" (click)="logOut()">
          <a class="nav-link" *ngIf="logined">Logout</a>
        </h3>
      </div>
    </div>
  </nav>