

<section class="single-product-page">

  <div *ngFor="let product of products">
    <h3>{{ product.title }}</h3>
    <img [src]="imageBaseUrl+product.imageUrl" alt="{{ product.title }}" width="100">
    <p>Price: £{{ product.price }}</p>
    <a [routerLink]="['/product', product.id]">View Details</a>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="loading" class="loading-indicator">
    <p>Loading product details...</p>
  </div>

  <div *ngIf="!loading && singleProduct" class="product-details">
    <div class="product-image-container">
      <img *ngIf="singleProduct.imageUrl" [src]="imageBaseUrl+singleProduct.imageUrl" alt="{{ singleProduct.title }}" class="product-image">
      <p *ngIf="!singleProduct.imageUrl" class="no-image">No Image Available</p>
    </div>

    <div class="product-info">
      <h1 class="product-title">{{ singleProduct?.title }}</h1>
      <div class="product-price">
        <span class="currency">EGP</span>{{ singleProduct?.price | number:'1.2-2' }}
      </div>
      <div class="product-availability">
        Availability: <span *ngIf="singleProduct?.quantityAvailable > 0" class="available">In Stock ({{ singleProduct?.quantityAvailable }})</span>
        <span *ngIf="!singleProduct?.quantityAvailable" class="unavailable">Availability Unknown</span>
      </div>
      <p class="product-description">{{ singleProduct?.description }}</p>

      <div class="product-quantity">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" [(ngModel)]="quantityToAdd" min="1" value="1">
      </div>

      <div class="product-actions">
        <button (click)="addToCart()" class="add-to-cart-button" routerLink="/cart">Add To Cart</button>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && !singleProduct && !errorMessage" class="not-found">
    <p>Product not found.</p>
  </div>
</section>