<section class="login-page pt-5">
    <div class="login-edit">
    <div class="screen">
		<div class="screen__content">
        <form [formGroup]="loginData" (ngSubmit)="userlogindisplay()" class="login">
            <div class="login__field">
                <i class="login__icon fas fa-user"></i>

            <input type="text" class="form-control" formControlName="phoneNumber" placeholder="USER NAME">
        </div>
            <div *ngIf="loginData.controls.phoneNumber.invalid && loginData.controls.phoneNumber.touched" class="alert alert-danger" role="alert">
                <strong>Enter Valid Data</strong>
            </div>
            <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
            <input type="text" class="form-control" formControlName="password" placeholder="PASSWARD">
            </div>
            
            <button class="btn btn-light mt-3 button login__submit">
                <span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
            </button>
            <p class="account">You don't have an account? <a href="#register" class="signup">Sign up</a></p>
        </form>
        <div class="social-login">
            <h3>LOGIN</h3>
            <div class="social-icons">
                <a href="https://www.instagram.com/ems_vibes12?igsh=MW5jYTg2Yjg0dXdtdw==" class="social-login__icon fab fa-instagram"></a>
                <a href="https://www.facebook.com/share/1Av8wmD7j8/" class="social-login__icon fab fa-facebook"></a>
                <a href="https://www.tiktok.com/@emsvibes3?is_from_webapp=1&sender_device=pc" class="social-login__icon fa-brands fa-tiktok"></a>
            </div>
        </div>
    </div>
    <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
    </div>	
    </div>
</div>

</section>



<section class="footer-page">
    <div class="footer">
        <div class="row">
            <div class="col-4">
                <div class="get-touch">
                    <h4>Get In Touch</h4>
                    <a href="https://maps.app.goo.gl/nxtNLWZKCq9xj3c27">
                        <i class="fa-solid fa-house-chimney"></i>
                        6th of october, Giza, Egypt
                    </a>
                    <a href="mailto:emsvibes99@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        EMS-Vibes&#64;gmail.com
                    </a>
                    <a href="https://www.linkedin.com/in/ems-vibes-68ba6b352/">
                        <i class="fa-brands fa-linkedin"></i>
                        EMS-Vibes&#64;linkedin.com
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-phone-flip"></i>
                        +011 445 90212
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-print"></i>
                        +01O 197 80854
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="get-center">
                    <div class="get-icons">
                        <!-- <span><i class="fa-solid fa-share"></i></span> -->
                        <a href="https://www.facebook.com/share/1Av8wmD7j8/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/ems_vibes12?igsh=MW5jYTg2Yjg0dXdtdw=="><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://www.youtube.com/@EMSVibes-m7v"><i class="fa-brands fa-youtube"></i></a>
                        <a href="https://www.tiktok.com/@emsvibes3?is_from_webapp=1&sender_device=pc"><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                    <div class="get-name">
                        <div class="web-icon">
                            <img src="../assets/images/Adobe Express - file (2).png">
                        </div>
                        <h3>EMS Vibes</h3>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="footer-img">
                    <img src="../../assets/images/WhatsApp Image 2025-01-21 at 21.10.04_d7b35722.jpg">
                </div>
            </div>
           
        </div>
    </div>
    <hr>
    <div class="end">
        <div class="row">
            <div class="col-12">
                <p><i class="fas fa-copyright me-2"></i>
                    <a href="#"> EMS Vibes</a>
                    , All right reserved.  &nbsp; &nbsp; &nbsp;</p>
                    <!-- Designed By <a href="#">HTML Codex</a> Distribute By <span>ThemeWagon</span></p> -->
            </div>
        </div>
    </div>
  </section>