@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	margin-top: 0 !important;
}
@font-face {
	font-family: face2;
	src: url(../../../public/assets/fonts/Lora/static/Lora-BoldItalic.ttf);
  }
  @font-face {
	font-family: myface;
	src: url(../../../public/assets/fonts/Allura/Allura-Regular.ttf);
  }
  @font-face {
	font-family: myface2;
	src: url(../../../public/assets/fonts/Jost/static/Jost-Medium.ttf);
  }
  @font-face {
	font-family: myface3;
	src: url(../../../public/assets/fonts/Jost/static/Jost-Regular.ttf);
  }
  @font-face {
	font-family: jost2;
	src: url(../../../public/assets/fonts/Jost/static/Jost-Thin.ttf);
  }
  @font-face{
	font-family: myfont; 
	src:url(../../../public/assets/fonts/KalniaGlaze/static/KalniaGlaze_Expanded-Bold.ttf); 
  }
  @font-face{
	font-family:face; 
	src:url(../../../public/assets/fonts/Rubik-bubbles/RubikBubbles-Regular.ttf); 
  }
  @font-face{
	font-family: myfont2; 
	src:url(../../../public/assets/fonts/Foldit/static/Foldit-ExtraBold.ttf);
  }
  @font-face{
	font-family: myfont3; 
	src:url(../../../public/assets/fonts/Jost/static/Jost-ExtraBold.ttf);
  }
  @font-face {
	font-family: jost;
	src: url(../../../public/assets/fonts/Jost/static/Jost-Bold.ttf);
  }
  @font-face{
	font-family: myfont5;
	src:url(../../../public/assets/fonts/Merienda/Merienda-VariableFont_wght.ttf);
  }
  @font-face {
	font-family: roboto;
	src: url(../../../public/assets/fonts/roboto/Roboto-Regular.ttf);
  }
  @font-face{
	font-family: roboto2;
	src:url(../../../public/assets/fonts/roboto/RobotoMono-VariableFont_wght.ttf);
  }
.login-page{
	/* background: linear-gradient(90deg, rgb(226, 226, 250), #f8f8ff) !important;  */
    width: 100%;
    height: 100vh;
    padding-top: 98px !important;
	background: linear-gradient(90deg, black, #337ab7) !important; 
}
.login-edit{
	display: flex;
	justify-content: center;
}

.screen {		
	background: linear-gradient(90deg, #4dabfd, #b2d8f9) !important;		
	position: relative;	
	height: 600px;
	width: 360px;	
	/* box-shadow: 0px 0px 24px #565696 !important; */
	box-shadow: 0px 0px 100px black !important;

}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
	
	
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #ffffff;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #337ab7 !important;
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #0171d2, #b2d8f9) !important;
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #337ab7;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}
.login__field input{
    font-family: Raleway, sans-serif !important;
    font-weight: 700 !important;
    padding-left: 30px;
}
.login__icon {
	position: absolute;
	top: 25px;
	color:  #ffffff !important;
	left: 5px;
}

.login__input {
	border: none;
	border-bottom: 2px solid #d4d1d2;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #9e677f;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #9d4862;
	box-shadow: 0px 2px 2px #965676;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #9e6779 !important;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #337ab7 !important;
}
.account{
	padding-top: 15px;
	color: #9d4862;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	padding-left: 6px;
}
.signup{
	color:#9d4862;
	font-weight: 900;
	font-size: 14px;
}
.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7778c0 !important;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
.button__text{
	color: #337ab7;
	
}



.footer-page{
	width: 100%;
	text-align: center;
	background-color:rgb(15, 15, 15);
	box-shadow: 0px 0px 200px #337ab7 !important; 
	z-index: 9999 !important;
  }
  .footer{
	padding: 40px 100px 30px 100px !important;
	text-align: center !important;
  }
  .get-touch{
	display: flex;
	flex-direction: column;
	text-align: left;
	transition: all 1s ;
	color: #337ab7;
	margin-top: 24px !important;
	padding-left: 100px !important;
  }
  .get-touch h4{
	font-family: myface2;
	padding-bottom: 6px !important;
  }
  .get-touch a{
	text-decoration: none !important;
	color: #fff;
	font-family: roboto;
  }
  .get-touch a:hover{
	color: #afe2fd;
	font-family: roboto2;
  }
  
  .the-end a{
	line-height: 30px;
	text-decoration: none !important;
	color: #fff;
	transition: 0.5s;
	font-family: myfont;
	font-size: 16px;
	font-weight: 400;
  }
  .the-end h4{
	color: #fff;
	margin-bottom: 24px;
	font-size: calc(1.275rem + 0.3vw);
	font-family: secondfont;
	font-weight: 500;
	line-height: 1.2;
  }
  .get-center{
	margin-top: 24px !important;
  }
  .get-icons{
	display: flex;
	justify-content: center ;
	align-items: center;
	margin-top: 24px;
  }
  .get-icons a{
	line-height: 30px;
	color: #fff;
	transition: 0.5s;
	width: 32px !important;
	height: 32px !important;
	font-size: 16px !important;
	border-radius: 50%;
	margin-left: 6px !important;
	margin-right: 6px !important;
	display: flex;
	justify-content: center ;
	align-items: center;
	background-color: #337ab7;
	border-color: #337ab7 !important;
	border: 1px solid #dee2e6 ;
	font-weight: 400;
	transition: all 0.4s ease;
	box-shadow: 0px 0px inset #f2f2f2;
	text-decoration: none !important;
	/* text-align: center !important; */
	margin-bottom: 14px !important;
  }
  .get-icons a:hover{
	box-shadow: 200px 0px inset #f2f2f2;
	color: #337ab7;
	border-radius: 800px;
	background-color: #fff;
	text-align: center;
	border: 1px solid #337ab7 !important;
  }
  
  .get-name{
	text-align: center !important;
  }
  .get-name h3{
	color: #afe2fd;
	font-family: myfont5;
	font-weight: 900;
  }
  .web-icon img{
	width:60px;
	height: 60px;
	margin-bottom: 14px !important;
  }
  .footer-img img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 7px solid #757575;
  }
  hr{
	border: 1px solid #757575 ;
  }
  .end{
	color:  #afe2fd;
	width: 100%;
	font-family: jost2;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	padding-top: 25px !important;
	padding-bottom: 25px !important;
	font-weight: 400;
  }
  .end i{
	margin-right: 8px;
	font-weight: 900;
  }
  .end a{
	color: white ;
	text-decoration: none;
  }
  .end span{
	color: #458ece;
  }

/* Responsive Styles */
@media (max-width: 576px) {

	.footer {
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	.footer .col-4 {
		width: 90%;
		text-align: center;
		margin-bottom: 20px;
	}

	.get-touch {
		text-align: center;
	}
}

@media (min-width: 577px) and (max-width: 768px) {
	.login-page {
	  padding-top: 30px !important;
	  align-items: center; 
	}
  
	.login-edit {
	  padding: 15px;
	}
  
	 .screen {
	  width: 60%;
	  margin: 20px auto;
	} 
  
	 .screen__content {
	  padding: 0px;
	}
   
	.login {
	  padding-top: 30px;
	}
  
	.login__field {
	  padding: 12px 0;
	}
  
	.login__input {
	  font-size: 15px;
	}
  
	.login__submit {
	  margin-top: 20px;
	  font-size: 15px;
	}
  
	.account {
	  font-size: 13px;
	  padding-top: 12px;
	}
  
	.signup {
	  font-size: 15px;
	}
  
	.social-login {
	  margin-top: 20px;
	  padding-bottom: 20px;
	}
  
	.social-login__icon {
	  padding: 12px;
	  font-size: 18px;
	}
  
	
	.footer {
		flex-direction: column;
		align-items: center;
		padding: 30px;
	}

	.footer .col-4 {
		width: 80%;
		text-align: center;
		margin-bottom: 25px;
	}

	.get-touch {
		text-align: center;
	}
	.end {
	  font-size: 13px;
	  padding-top: 20px !important;
	  padding-bottom: 20px !important;
	}
  }

  @media (min-width: 769px) and (max-width: 992px) {
	.login-page {
	  padding-top: 50px !important; 
	  align-items: center; 
	}
  
	.login-edit {
	  padding: 20px;
	}
  
	.screen {
	  width: 60%; 
	  max-width: 500px; 
	  margin: 30px auto;
	}
   
	.screen__content {
	  padding: 0px;
	} 
  
	.login {
	  padding-top: 40px;
	}
  
	.login__field {
	  padding: 15px 0;
	}
  
	.login__input {
	  font-size: 16px;
	}
  
	.login__submit {
	  margin-top: 25px;
	  font-size: 16px;
	}
  
	.account {
	  font-size: 14px;
	  padding-top: 15px;
	  text-align: center; 
	}
  
	.signup {
	  font-size: 16px;
	}
  
	.social-login {
	  position: absolute; 
	  bottom: 20px;
	  right: 20px;
	  text-align: right; 
	  width: auto;
	  margin-top: 20px;
	}
  
	.social-icons {
	  justify-content: flex-end; 
	}
  
	.social-login__icon {
	  padding: 10px;
	  font-size: 20px;
	}
  
	
	.footer {
		flex-direction: row;
		justify-content: space-around;
		padding: 30px;
	}

	.footer .col-4 {
		flex-basis: 45%;
		text-align: center;
	}
  
	.get-touch {
	  padding-left: 50px !important;
	  text-align: left;
	}
  
	.get-touch a {
	  display: block;
	  margin-bottom: 8px;
	  font-size: 14px;
	}
  
	.end {
	  font-size: 14px;
	  padding-top: 25px !important;
	  padding-bottom: 25px !important;
	}
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
	.footer { flex-direction: row; justify-content: space-around; padding: 30px; }
	.footer .col-4 { flex-basis: 45%; text-align: center; } /* Adjust basis and alignment */
	.get-touch { text-align: left; padding-left: 50px !important; } /* Adjust padding */
  }
  @media (min-width: 993px) and (max-width: 1200px) {
	.login-page {
	  padding-top: 70px !important;
	  align-items: center;
  }

  .login-edit {
    padding: 30px;
  }

  .screen {
    width: 60%;
    max-width: 450px;
    margin: 40px auto;
  } 

   .screen__content {
    padding: 0px;
  }

  .login {
    padding-top: 50px;
  }

  .login__field {
    padding: 18px 0;
  }

  .login__input {
    font-size: 17px;
  }

  .login__submit {
    margin-top: 30px;
    font-size: 17px;
  }

  .account {
    font-size: 15px;
    padding-top: 18px;
    text-align: center;
  }

  .signup {
    font-size: 17px;
  }

  .social-login {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: right;
    width: auto;
    margin-top: 25px;
  }

  .social-icons {
    justify-content: flex-end;
  }

  .social-login__icon {
    padding: 12px;
    font-size: 22px;
  }

 
  .get-touch a {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .end {
    font-size: 15px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

