<section class="single-product pb-4 pt-5">
    <div class="single-heading mb-5">
      <h1>{{singleRecipe?.name}}</h1>
    </div>
    <div class="single-recipe">
        <img [src]="singleRecipe?.image" alt="{{ singleRecipe?.name }}">
      <div class="single-content">
        <h2>{{singleRecipe?.cuisine}} food</h2>
        <h3> {{singleRecipe?.caloriesPerServing}} calories</h3>
        <h4>Preparing Time: <span>{{singleRecipe?.prepTimeMinutes}} minutes</span></h4>
        <h4>Cooking Time: <span>{{singleRecipe?.cookTimeMinutes}} minutes</span></h4>
      </div>
    </div>
    <div class="single-body">
      <ul>
        <li class="pb-5 mb-5"><h3>Ingrediants <i class="fa-solid fa-arrow-right-long"></i></h3><span>{{singleRecipe?.ingredients}}</span></li>
        <li><h3>Instructions <i class="fa-solid fa-arrow-right-long"></i></h3><span>{{singleRecipe?.instructions}}</span></li>
      </ul>
    </div>
    </section>