<section class="profile-page">
    <div class="profile row">
      <div class="profile-nav col-2">
        <div class="name">
          <img src="../assets/images/ensannn.jpg">
          <h2></h2>
        </div>
        <div class="profile-list">
          <ul>
            <li>
              <a routerLink="/profile" class="pro-page">Profile</a>
            </li>
            <li>
              <a routerLink="/fitness-info">Fitness Info</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="profile-info col-10">
        <h1><i class="fa-solid fa-dumbbell"></i> Fitness Info</h1>
        <p>Use the table below to track and follow your exercise progress. It's a great way to monitor your workouts and stay motivated!</p>
  
        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  
        <table class="table container-fluid data mt-3" *ngIf="fitnessData && fitnessData.length > 0">
          <thead class="head">
            <tr>
              <th>Index:</th>
              <th>Category:</th>
              <th>Video URL:</th>
              <th>Physical Activity:</th>
              <th>Power:</th>
              <th>Duration:</th>
              <th>Date:</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let item of fitnessData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.category }}</td>
              <td>
                <iframe width="110" height="65" [src]="item.videoUrl " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </td>
              <td>{{ item.physicalActivity }}</td>
              <td>{{ item.power }}</td>
              <td>{{ item.duration }}</td>
              <th>{{ item.date }}</th>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!fitnessData || fitnessData.length === 0 && !error">
          <p>No fitness information available.</p>
        </div>
  
        </div>
    </div>
   </section>