<section class="stretching  pt-5 pb-5">
    <div class="TITLE mt-5">
    <div class="title">
    <h1>Shoulder Exercises</h1>
    <div class="circle1"></div> <div class="circle2"></div>
    <div class="circle3"></div> <div class="circle4"></div>
    <div class="circle5"></div> <div class="circle6"></div><div class="circle7"></div>
    </div>
</div>
    <div class="stretch-content">
        <div class="row g-2">
            <div class="col-5">
                <video autoplay loop muted src="../../assets/images/yoga gif.mp4"></video>
            </div>
            <div class="col-7">
                <h3>What is Shoulder Exercises?</h3>
                <p>Yoga is more than just a workout—it’s actually a combination of four components: postures (like tree pose), breathing practices, deep relaxation, and meditation that can transform your health on many different levels.</p>
            </div>
        </div>
    </div>
    <div class="stretching-online">
        <h2>NO-EQUIPMENT <i class="fa-solid fa-dumbbell"></i></h2>
        <h2>Daily Home Shoulder Workout</h2>
        <div class="line"></div>
    </div>
    <div class="stretching-videos">
        <div class="videoos">
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/yoga/yoga1.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HIuJA4xS4WM?si=8Cl3y94ttWYHb589" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>30 MIN YOGA PILATES FLOW || Yoga Workout 
                    <br> For Healthy & Happy Hips</p>
                </div>
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/yoga/yoga2.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/POcJjoDzJ9k?si=4G8EZG63pSMSBrSK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Yoga Workout For Results | 20 MIN Stretch 
                    <br>& Strengthen to Lose Weight & FEEL FANTASTIC ✨</p>
                </div>
        </div>
        <div class="videoos">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/yoga/yoga6.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/X3-gKPNyrTA?si=lkTtt-PHvjQOwFsf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Yoga For Neck, Shoulders, Upper Back | 
                <br> 10-Minute Yoga Quickie</p>
            </div>
            <div class="single-video">
                <!-- <video controls src="../../assets/videos/yoga/yoga4.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Eml2xnoLpYE?si=8tpxyRbd8gcCEKg4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Full Body Yoga for Strength & Flexibility | 
                    <br> 25 Minute At Home Mobility Routine  </p>
                </div>
        </div>
        <div class="videoos pb-5">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/yoga/yoga5.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ho9em79_0qg?si=A6rzsDgMtLhO89rY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Yoga For Hips  
                <br>& Lower Back Release   </p>
            </div>
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/yoga/yoga3.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v7SN-d4qXx0?si=mIezKSBZRWUBRQ9m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Bedtime Yoga | 20 Minute
                <br>  Bedtime Yoga Practice </p>
          
            </div>
        </div>
        
    </div>
</section>
