<section class="stretching  pt-5 pb-5">
    <div class="TITLE mt-5">
        <div class="title">
            <h1>Shoulder Exercises</h1>
            <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
      <div class="circle5"></div>
      <div class="circle6"></div>
      <div class="circle7"></div>
        </div>
    </div>
    <div class="stretch-content">
        <div class="row g-2">
            <div class="col-5">
            
    <video autoplay loop muted src="../../assets/images/shoulder gif .mp4"></video>
            </div>
            <div class="col-7 stretch-h3">
                
      <h3>What is shoulders workout?</h3>
                <p>Shoulder exercises are vital for developing strong, functional, and aesthetically pleasing deltoid muscles. These exercises target the anterior (front), medial (side), and posterior (rear) heads of the deltoids, contributing to overall upper body strength and stability. Exercises range from presses that engage multiple shoulder heads to raises that isolate specific areas. A balanced shoulder routine incorporates variations to ensure comprehensive development of all deltoid regions. </p>
            </div>
        </div>
    </div>
    <div class="machine textedit">
      <h2>Prepare your Goals</h2>
      <div class="line"></div>
      <div class="row machs-img">
        <div class="mach-img col-5">
          <img src="../assets/images/Adobe Express - file (6).png">    
        </div>
        <div class="mach-buttons col-7 stretch-h3">
          <div class="turn">
  <button (click)="sendFitnessCommand(1, null, null, null)">Turn On</button>
  <button (click)="sendFitnessCommand(0, null, null, null)">Turn Off</button>
</div>
<div class="modes">
  <h4>Modes</h4>
  <button (click)="sendFitnessCommand(null, 1, null, null)">Acupuncture</button>
  <button (click)="sendFitnessCommand(null, 2, null, null)">Stroke</button>
  <button (click)="sendFitnessCommand(null, 3, null, null)">Massage</button>
  <button (click)="sendFitnessCommand(null, 4, null, null)">Cupping</button>
  <button (click)="sendFitnessCommand(null, 5, null, null)">Manipulation</button>
  <button (click)="sendFitnessCommand(null, 6, null, null)">Scraping</button>
  <button (click)="sendFitnessCommand(null, 7, null, null)">Weight Reducing</button>
  <button (click)="sendFitnessCommand(null, 8, null, null)">Immunotherapy</button>
</div>
<div class="time">
  <h4>Time</h4>
  <button (click)="sendFitnessCommand(null, null, 5, null)">5 minutes</button>
  <button (click)="sendFitnessCommand(null, null, 10, null)">10 minutes</button>
  <button (click)="sendFitnessCommand(null, null, 15, null)">15 minutes</button>

</div>
<div class="power">
  <h4>Power</h4>
  <button (click)="sendFitnessCommand(null, null, null, 1)">1 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 2)">2 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 3)">3 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 4)">4 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 5)">5 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 6)">6 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 7)">7 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 8)">8 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 9)">9 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 10)">10 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 11)">11 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 12)">12 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 13)">13 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 14)">14 watt</button>
  <button (click)="sendFitnessCommand(null, null, null, 15)">15 watt</button>
  <button (click)=" submit()" class="sub">Submit</button>
</div>
        </div>
      </div>
    </div>
   
    <div class="stretching-online">
        <h2>shoulder Workout</h2>
        <div class="line"></div>
    </div>
    <div class="stretching-videos">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 editvideo videoos">
      <div *ngFor="let workout of  shoulderworkouts " class="col single-video">
            <div>
              <iframe 
              *ngIf="workout.videoUrl"
              class="card-img-top"
              [src]="getSafeVideoUrl(workout.videoUrl)"
              title="{{ workout.name }} video player"
              frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                ></iframe>
              <div class="card-body">
                <h5 class="card-title">{{ workout.name }}</h5>
                <p class="card-text">{{ workout.description }}</p>
              </div>
            </div>
      </div>
    </div>
    </div>    
</section>




