<section class="product-page">
<div class="admin-product-page">
  
<br>
<br>
<br>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <div class="product-list" *ngIf="products?.items?.length > 0; else noProducts">
    <div class="product-card" *ngFor="let product of products.items">
      <div class="prod-content">
      <img [src]="imageBaseUrl+product.imageUrl" alt="{{ product.title }}" class="product-image">
      <div class="prod-details">
        <h3>{{ product.title }}</h3>
        <p class="price"><span>product title:</span> {{ product.title}} </p>
        <p class="price"><span>Price:</span> {{ product.price }} EGP</p>
        <p class="category"><span>Quantity Available: </span>{{ product.quantityAvailable }}</p>
      </div>
      </div>
      <div class="product-details">
        
        <p class="description">{{ product.description }}</p>
        <div class="actions">
          <button (click)="updateProduct(product)" class="update-button">Update</button>
          <button (click)="deleteProduct(product)" class="delete-button">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noProducts>
    <p>No products available.</p>
  </ng-template>

  <button routerLink="/admin/add-product" class="add-button">Add New Product</button>
</div>
</section>