<div class="Home-page ">
  <div class="home-content">
    <div id="carouselExampleSlidesOnly" class="carousel slide"  data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active home">
            <img src="../assets/images/product img/home1.jpg.jpeg" class="d-block w-100" alt="...">
            <div class="layer">
            <div class="carousel-caption d-none d-md-block">
                <h2>The only bad workout is the one you didn't do</h2>
                <h1></h1>
                <p>Believe in yourself, and you will be unstoppable.</p>
                <button type="submit" routerLink="/about">Discover Now</button>
              </div>
            </div>
          </div>
          <div class="carousel-item home">
            <img src="../assets/images/product img/home2.jpeg" class="d-block w-100" alt="...">
            <div class="layer">
            <div class="carousel-caption d-none d-md-block">
                <h2>The only bad workout is the one you didn't do</h2>
                <h1></h1>
                <p>Today is your day. To start Fresh. To eat right. To train hard. To live healthy. To be proud </p>
                <button type="submit"  routerLink="/about">Discover Now</button>
              </div>
            </div>
          </div>
          <div class="carousel-item home">
            <img src="../assets/images/product img/home3.jpeg" class="d-block w-100" alt="...">
            <div class="layer">
            <div class="carousel-caption d-none d-md-block">
                <h2>The only bad workout is the one you didn't do</h2>
                <h1></h1>
                <p>Challenging yourself every day is one of the most exciting ways to live.</p>
                <button type="submit"  routerLink="/about">Discover Now</button>
              </div>
            </div>
          </div>
          <div class="carousel-item home">
            <img src="../assets/images/product img/home4.jpeg" class="d-block w-100" alt="...">
            <div class="layer">
            <div class="carousel-caption d-none d-md-block">
                <h2>The only bad workout is the one you didn't do</h2>
                <h1></h1>
                <p>A one-hour workout is 4% of your day. No Excuses.</p>
                <button  type="submit" routerLink="/about">Discover Now</button>
              </div>
            </div>
          </div>
          <div class="carousel-item home">
            <img src="../assets/images/product img/home6.jpeg" class="d-block w-100" alt="...">
            <div class="layer">
            <div class="carousel-caption d-none d-md-block">
                <h2>The only bad workout is the one you didn't do</h2>
                <h1></h1>
                <p> Exercise is a celebration of what your body can do, not a punishment for what you ate</p>
                <button type="submit"  routerLink="/about">Discover Now</button>
              </div>
            </div>
          </div>
          <div class="carousel-item home">
            <img src="../assets/images/product img/home1.jpg.jpeg" class="d-block w-100" alt="...">
            <div class="layer">
            <div class="carousel-caption d-none d-md-block">
                <h2>The only bad workout is the one you didn't do</h2>
                <h1></h1>
                <p>Yoga is like life, it’s a balance of holding on & letting go</p>
                <button type="submit"  routerLink="/about">Discover Now</button>
              </div>
            </div>
        
          </div>
    
        </div>    
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
  </div>  
</div>