
.container{
    width: 75% !important;
}
.container h2{
    margin-top: 70px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: face2;
    src: url(../../../public/assets/fonts/Lora/static/Lora-BoldItalic.ttf);
  }
  @font-face {
    font-family: myface;
    src: url(../../../public/assets/fonts/Allura/Allura-Regular.ttf);
  }
  @font-face {
    font-family: myface2;
    src: url(../../../public/assets/fonts/Jost/static/Jost-Medium.ttf);
  }
  @font-face {
    font-family: myface3;
    src: url(../../../public/assets/fonts/Jost/static/Jost-Regular.ttf);
  }
  @font-face {
    font-family: jost2;
    src: url(../../../public/assets/fonts/Jost/static/Jost-Thin.ttf);
  }
  @font-face{
    font-family:face; 
    src:url(../../../public/assets/fonts/Rubik-bubbles/RubikBubbles-Regular.ttf); 
  }
  
  @font-face{
    font-family: myfont3; 
    src:url(../../../public/assets/fonts/Jost/static/Jost-ExtraBold.ttf);
  }
  @font-face {
    font-family: jost;
    src: url(../../../public/assets/fonts/Jost/static/Jost-Bold.ttf);
  }
  @font-face{
    font-family: myfont5;
    src:url(../../../public/assets/fonts/Merienda/Merienda-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: roboto;
    src: url(../../../public/assets/fonts/roboto/Roboto-Regular.ttf);
  }
  @font-face{
    font-family: roboto2;
    src:url(../../../public/assets/fonts/roboto/RobotoMono-VariableFont_wght.ttf);
  }
.profile{
    background-image: url(../../../public/assets/images/textured-bg-brown-min.webp);
    background-size: cover;
    height: 100vh;
}
.profile-nav{
    background-color: #1e6fb6;
    padding-top: 105px;
}
.name{
    text-align: center !important;
    font-family: face2;
}
.name img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.name h2{
    color: #fff;
    padding-top: 20px;
}
.profile-list{
    margin-top: 60px;
    /* text-align: center; */
    color:#fff !important;
    font-size: 28px;
    font-family: myface2;
}
.profile-list ul{
    list-style-type: none;
}
.profile-list a:hover{
    background-color: #fff;
    color: #1e6fb6 !important;
}
.profile-list a{
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
    padding-right: 38px;
}
.pro-dash{
    padding-right: 79px !important;
}
.pro-msg{
  padding-right: 105px !important;
}
.profile-info{
    padding-top: 105px;
    padding-left: 80px;
}
.profile-info h1{
    color: #337ab7;
    padding-bottom: 30px;
    font-size: 54px ;
}
.profile-info h3{
    color: #093c69;
    padding-bottom: 10px;
    font-size: 32px;
}
.profile-info p{
    color: rgba(0,0,0,0.6);
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 20px;
}