<section class="buy-product">
    <div class="buy w-100">
        <div class="container d-flex flex-row mb-4 justify-content-evenly  pt-5 ms-5 pb-5">
            <div class="buy-img p-2 pt-5 pb-5">
                <img src="../assets/images/Adobe Express - file (6).png">
            </div>
        
        
            <div class="buy-content p-2 pt-5 pb-5">
               
                <h5 class="mb-4">Best Quality Product</h5>
                <h1>Join The Future of Fitness with EMS Technology!</h1>
                <p class="mb-5">An EMS (Electrical Muscle Stimulation) device is a fitness and rehabilitation tool that uses electrical impulses to stimulate muscles, causing them to contract and relax. This technology is used for strength training, recovery, rehabilitation, and pain relief..</p>
                <button class="btn p-3 text-white" routerLink="/buysingleproduct"><i aria-hidden="true" class="fas fa-shopping-cart pe-2"></i>SHOP NOW</button>
            </div>
           
        </div>
        </div>
</section>
