<section class="stretching  pt-5 pb-5">
    <div class="TITLE mt-5">
    <div class="title">
    <h1>ABS Exercises</h1>
    <div class="circle1"></div> <div class="circle2"></div>
    <div class="circle3"></div> <div class="circle4"></div>
    <div class="circle5"></div> <div class="circle6"></div><div class="circle7"></div>
    </div>
</div>
    <div class="stretch-content">
        <div class="row g-2">
            <div class="col-5">
                <video autoplay loop muted src="../../assets/images/Boxing gif.mp4"></video>
            </div>
            <div class="col-7">
                <h3>What is ABS Exercises?</h3>
                <p>Boxing is more than just a combat sport; it's a full-body workout that combines cardio, strength training, and coordination. It's a high-intensity activity that can help you build strength, endurance, and agility while burning calories and toning your muscles.</p>
            </div>
        </div>
    </div>
    <div class="stretching-online">
        <h2>NO-EQUIPMENT <i class="fa-solid fa-dumbbell"></i></h2>
        <h2>Daily Home ABS Workout</h2>
        <div class="line"></div>
    </div>
    <div class="stretching-videos">
        <div class="videoos">
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/boxing/boxing5.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wB8GhqtKLdk?si=VaKOtzt9HE9DzGF_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>10 Minute Beginner Boxing Workout | 
                    <br> Good Moves | Well+Good</p>
                </div>
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/boxing/boxing6.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OfZFdwW322E?si=xigBVzFrjYAk7SVz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Kickbox-HIIT Workout 17 mins
                    <br></p>
                </div>
        </div>
        <div class="videoos">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/boxing/boxing1.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kEDTWnNyyEU?si=Rb6h-qqin5nsb9lq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>10-Minute Total -
                <br> Body Boxing Workout</p>
            </div>
            <div class="single-video">
                <!-- <video controls src="../../assets/videos/boxing/boxing2.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uGoS-AWW7jY?si=ZgScJF3yp8DlUlPb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>15 Minute Boxing Workout at Home _ 
                    <br>Boxercise </p>
                </div>
        </div>
        <div class="videoos pb-5">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/boxing/boxing3.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gcO6hP06Cpw?si=kPr3fRHPMkjF_cvF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>10 Min Feel Good Boxing Workout For Beginners, 
                <br>No Equipment, All Standing Exercises </p>
            </div>
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/boxing/boxing4.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1bjKpgrbm6o?si=0oHuQfgxJfkRMA3t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>15 MIN BOXING CARDIO - Aerobic Style_ 
                <br>dancy_ cool _ rhythmic _ </p>
          
            </div>
        </div>
        
    </div>
</section>
