<section class="stretching  pt-5 pb-5">
    <div class="TITLE mt-5">
        <div class="title">
            <h1>Bi & Tri</h1>
            <div class="circle1"></div> <div class="circle2"></div>
            <div class="circle3"></div> <div class="circle4"></div>
            <div class="circle5"></div> <div class="circle6"></div><div class="circle7"></div>
        </div>
    </div>
    <div class="stretch-content">
        <div class="row g-2">
            <div class="col-5">
                <video autoplay loop muted src="../../assets/images/fitness gif.mp4"></video>
            </div>
            <div class="col-7">
                <h3>What is Bi & Tri?</h3>
                <p>Fitness is more than just looking good; it's a cornerstone of overall health and well-being. It's about empowering your body to perform at its best, boosting energy levels, and enhancing your quality of life.</p>
            </div>
        </div>
    </div>
    <div class="stretching-online">
        <h2>NO-EQUIPMENT <i class="fa-solid fa-dumbbell"></i></h2>
        <h2>Daily Home Bi & Tri Workout</h2>
        <div class="line"></div>
    </div>
    <div class="stretching-videos">
        <div class="videoos">
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/fitness/fitness1.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PqqJBaE4srs?si=zWrTcDJCkGTQj7Os" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>10 MIN CARDIO WORKOUT AT HOME
                    <br> (No Jumping/Apartment Friendly, No Equipment)</p>
                </div>
                <div class="single-video">
                <!-- <video controls src="../../assets/videos/fitness/fitness2.mp4"></video> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PwXUHMKamP8?si=nZhkoxBnrvXAf6jI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>10 MIN CARDIO HIIT WORKOUT - ALL STANDING -
                    <br> Full Body, No Equipment, No Repeats </p>
                </div>
        </div>
        <div class="videoos">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/fitness/fitness3.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DHOPWvO3ZcI?si=vL9prBkVzUyoCGB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>10 MIN UPPER BODY WORKOUT - 
                <br>Home Workout, No Equipment  </p>
            </div>
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/fitness/fitness4.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/J3Qd-Q9WcMY?si=Ekp44nAgw_1ddX7U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>10 Minute Full Body Finisher
                <br>  Workout </p>
            </div>
        </div>
        <div class="videoos pb-5">
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/fitness/fitness5.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M0uO8X3_tEA?si=hvL-42XY5MTDEYdh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>20 Minute Full Body Cardio
                <br> HIIT Workout  </p>
            </div>
            <div class="single-video">
            <!-- <video controls src="../../assets/videos/fitness/fitness6.mp4"></video> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DU8q18kM0KY?si=O4UatNw8uYkR3mti" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>10 MIN GLUTES PUMP Home Workout -
                <br>10 Minutes Booty Workout, No Equipment</p>
            </div>
        </div>
        
    </div>
</section>
