<section class="workouts mt-5 mr-2 ml-2 mb-5">
    <div class="container-fluid ">
        <div class="workouts-heading mb-4">
            <h1>WORKOUTS</h1>
        </div>
        <div class="workouts-content mb-4">
            <div class="row g-2">
                <div class="col-4">
                    <div class="explore-img">
                        <img class="w-100 img-fluid" src="../assets/images/chest.jpg">
                        <div class="explore-info">
                        <h5>Chest</h5>
                        <a  routerLink="/stretching">Let's Trainee
                            <i class="fa fa-arrow-right ms-2"></i>
                        </a>
                     </div>
                        <div class="explore-overlayer">
                            <i class="fas fa-link fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="explore-img">
                        <img class="w-100 img-fluid" src="../assets/images/bi w tri.jpg">
                        <div class="explore-info">
                        <h5>Bi & Tri</h5>
                        <a href="#" routerLink="/fitness">Let's Trainee
                            <i class="fa fa-arrow-right ms-2"></i>
                        </a>
                     </div>
                        <div class="explore-overlayer">
                            <i class="fas fa-link fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="explore-img">
                        <img class="w-100 img-fluid" src="../assets/images/shoulder.jpg">
                        <div class="explore-info">
                        <h5>Shoulder</h5>
                        <a href="#" routerLink="/yoga">Let's Trainee
                            <i class="fa fa-arrow-right ms-2"></i>
                        </a>
                        </div>
                        <div class="explore-overlayer">
                            <i class="fas fa-link fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="explore-img">
                        <img class="w-100 img-fluid" src="../assets/images/back.jpg">
                        <div class="explore-info">
                        <h5>Back</h5>
                        <a href="#" routerLink="/zumba">Let's Trainee
                            <i class="fa fa-arrow-right ms-2"></i>
                        </a>
                     </div>
                        <div class="explore-overlayer">
                            <i class="fas fa-link fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="explore-img">
                        <img class="w-100 img-fluid" src="../assets/images/legs.jpg">
                        <div class="explore-info">
                        <h5>Legs</h5>
                        <a href="#" routerLink="/aerobics">Let's Trainee
                            <i class="fa fa-arrow-right ms-2"></i>
                        </a>
                     </div>
                        <div class="explore-overlayer">
                            <i class="fas fa-link fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="explore-img">
                        <img class="w-100 img-fluid" src="../assets/images/abs.jpg">
                        <div class="explore-info">
                        <h5>ABS</h5>
                        <a href="#" routerLink="/boxing">Let's Trainee
                            <i class="fa fa-arrow-right ms-2"></i>
                        </a>
                     </div>
                        <div class="explore-overlayer">
                            <i class="fas fa-link fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

