*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center !important;
}
@font-face {
    font-family: face;
    src: url(../../../public/assets/fonts/Rubik-bubbles/RubikBubbles-Regular.ttf);
}
@font-face {
    font-family: secondfont;
    src: url(../../../public/assets/fonts/Merienda/static/Merienda-ExtraBold.ttf);
}
@font-face {
    font-family: face2;
    src: url(../../../public/assets/fonts/Lora/static/Lora-BoldItalic.ttf);
}
@font-face {
    font-family: myface;
    src: url(../../../public/assets/fonts/Allura/Allura-Regular.ttf);
}
@font-face {
    font-family: myface2;
    src: url(../../../public/assets/fonts/Jost/static/Jost-Medium.ttf);
}
@font-face {
    font-family: myface3;
    src: url(../../../public/assets/fonts/Jost/static/Jost-Regular.ttf);
}
.workouts-heading{
    position: relative;
}
.workouts-heading h1{
    font-family: face;
    font-size: 48px;
    color: #2a86ff;
}
.workouts-heading::before{
    content:"___________";
    position: absolute;
    top:-11px;
    left: 430px;
    font-size: xx-large;
    color: #a7bdff;

}
.workouts-heading::after{
    content:"___________";
    position: absolute;
    top:-11px;
    right: 430px;
    font-size: xx-large;
    color: #a7bdff;
}
.workouts-content{
    margin-left: 50px;
    margin-right: 50px;
}
.workouts-content img{
    width: 300px;
    height: 300px
}
.explore-img{
    position: relative;
    overflow: hidden;
    margin: 7px;
    border-radius: 10px;
    overflow: hidden;
}
.explore-img img{
    border-radius: 10px !important;
    width: 100%;
}
.explore-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, .2);
    transition: 0.5s;
    border-radius: 10px !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20px;
    z-index: 999;
    transition: all 1s ease-in;
}
.explore-info h5{
    margin: 100px !important;
    color: #fff !important;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 8px !important;
    font-family: secondfont;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
.explore-info a{
    margin-bottom: 0px !important;
    text-decoration: none;
    color:  #0d3975;
    font-family: face;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.explore-info a:hover{
    color: #1f05e6;
}

.explore-overlayer{
    position: absolute;
    background-color: rgba(19, 54, 123, 0);
    color: #fff;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.7s ease;
    overflow: hidden;
    opacity: 0;
}
.explore-img:hover .explore-overlayer{
    background-color: rgba(0, 0, 0, .4);
    opacity: 1;
}
.explore-img:hover h5{
    color:rgb(105, 145, 255) !important;
}
.explore-img:hover i{
    opacity: 1 !important;
    z-index: 9999 !important;
}
.explore-img:hover img{
    transform:scale(1.2);
}


.TITLE{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.title h1{
    font-family:face2;
    font-style: italic !important;
  font-weight: bolder;
  font-style: normal;
  font-size: 60px;
  color: #3086ff;
  margin-bottom: 100px;
  z-index: 9999;
}
.circle1{
    position: absolute;
    top: -10px;
    right:130px;
    box-shadow: 0px 0px 14px rgb(180, 191, 230); 
    background: linear-gradient(90deg, rgb(236, 236, 236), #edeefe) !important;
    border-radius: 50%;
    width:100px;
    height: 100px;
    transition: all 0.5s ease-in;
}
.circle2{
    position: absolute;
    top: -15px;
    right:220px;
    box-shadow: 0px 0px 14px rgb(180, 191, 230);  
    background: linear-gradient(90deg, rgb(236, 236, 236), #edeefe) !important;
    border-radius: 50%;
    width:110px;
    height: 110px;
    transition: all 0.5s ease-in;
}
.circle3{
    position: absolute;
    top: -10px;
    left:130px;
    box-shadow: 0px 0px 14px rgb(180, 191, 230); 
    background: linear-gradient(90deg, rgb(236, 236, 236), #edeefe) !important;
    border-radius: 50%;
    width:100px;
    height: 100px;
    transition: all 0.5s ease-in;

}
.circle4{
    position: absolute;
    top: -15px;
    left:220px;
    box-shadow: 0px 0px 14px rgb(180, 191, 230); 
    background: linear-gradient(90deg, rgb(236, 236, 236), #edeefe) !important;
    border-radius: 50%;
    width:110px;
    height: 110px;
    transition: all 0.5s ease-in;
}
.circle5{
    position: absolute;
    top: -20px;
    right: 320px;
    box-shadow: 0px 0px 14px rgb(180, 191, 230);  
    background: linear-gradient(90deg, rgb(236, 236, 236), #edeefe) !important;
    border-radius: 50%;
    width:120px;
    height: 120px;
    transition: all 0.5s ease-in;
}
.circle7{
    position: absolute;
    top: -20px;
    left:320px;
    box-shadow: 0px 0px 14px rgb(180, 191, 230);  
    background: linear-gradient(90deg, rgb(236, 236, 236), #edeefe) !important;
    border-radius: 50%;
    width:120px;
    height: 120px;
    transition: all 0.5s ease-in;
}
 .circle3:hover, .circle4:hover, .circle7:hover{
    margin-left: 6px;
}
.circle1:hover, .circle2:hover, .circle5:hover{
    margin-right: 6px;
}
.stretching{
    background-image: url(../../../public/assets/images/textured-bground-brown.webp);
}
.stretch-content{
    margin-left: 90px;
    margin-right: 90px;
    gap:60px !important;
}
.stretch-content h3{
    text-align: left !important;
    font-family: myface;
    font-weight: bolder;
    font-size:50px;
    padding-top: 40px;
}
.stretch-content p{
    text-align: left !important;
    color: rgba(0,0,0,0.5);
    font-family: myface2;
    font-size: 28px;
    padding-top: 15px;
}
.stretch-content video{
    border-radius: 70px;
    box-shadow: 0 0 100px #0e2972;
}
.stretching-online{
    margin-top: 140px;
}
.stretching-online h2{
    font-size: 48px;
    font-family:monospace;
    font-weight: 500;
    color:black;
}
.stretching-online i{
    color:#4130ff;
}
.line{
    position: relative;
    width: 250px;
    height: 2px;
    background-color: #6f85ff;
    margin: 15px auto;
}
.line::after{
    position: absolute;
    content: "";
    top:4px;
    left: 24%;
    height:2px;
    width: 130px;
    background-color: #6f76ff;
}
.stretching-videos{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;

}
.videoos{
    margin-top: 45px;
    display: flex;
    justify-content:center;
    gap: 45px;
    
}
.single-video{
    border: 10px solid #a1b0fc;
    width:600px;
    height: 400px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .1);
}
.single-video video{
    width: 100% !important;
    height:300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.single-video p{
    font-family: myface3;
    padding-top: 10px;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}











